article{
    margin: 2% 5%;
}

#desc {
    font-size: 20px;
}

.label {
    font-size: 25px;
    font-weight: bold;
}

.suppliesDesc {
    margin-top: 10px;
}

.suppliesPrice, .suppliesTotalPrice {
    margin-top: 10px !important;
}

#weather {
    font-size: 20px;
}

.weatherDisc{
    margin: 0 25px;
    font-size: 15px !important;
}

#wind {
    border-top: 1px solid #A9A9A9;
    margin-top: 5px;
    padding-top: 5px;
}

/*div.profile-photo.profile-photo-light{*/
    /*display: none;*/
/*}*/