article{
    margin: 2% 5% 2% 5%;
}

#desc {
    font-size: 20px;
}

.label {
    font-size: 25px;
    font-weight: bold;
}

.weatherDisc{
    font-size: 12px;
}

/*div.profile-photo.profile-photo-light{*/
    /*display: none;*/
/*}*/