article {
    padding: 2% 13%;
}

p {
    margin-bottom: 0;
    text-indent: 40px;
    font-size: 20px;
}

.listHead {
    text-indent: 0;
    font-size: 20px;
}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 0;
    font-size: 20px;
}

.subTitle {
    font-size: 55px;
    padding-top: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid #A9A9A9;
}

.fullWidth{
    width: 100%;
}

.desc {
    font-size: 20px;
}

.label {
    font-size: 25px;
    font-weight: bold;
}

.suppliesDesc {
    font-size: 15px;
    margin-top: 15px;
}

.suppliesPrice {
    font-size: 15px;
    margin: 10px 0;
}

.suppliesBuyView {
    font-size: 15px;
    text-indent: 0;
    margin-top: 10px;
}

.suppliesTotalPrice {
    margin-top: 15px;
    font-size: 20px;
}

#weather, #resources {
    font-size: 20px;
}

#suppliesContent{
    font-size: 12px;
}

.weatherDisc, .resourceDisc{
    margin-left: 15px;
    font-size: 15px !important;
}

#wind {
    border-top: 1px solid #A9A9A9;
    margin-top: 5px;
    padding-top: 5px;
}

.resourceSubDisc {
    font-size: 13px;
    margin-left: 30px;
}

.notice {
    color: red;
}